body {
	padding: 0;
	margin: 0;
	background-color: black;
}

header {
	background: white;
	background-image: url("../images/home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100 0;
	min-height: 550px;
	margin:0;
	padding: 0;
}
header nav {
	padding: 15px 30px;
	background-color: black;
	min-height: 30px;
	font-size: 1em;
}

nav {
    padding: 5px 0;
    background: #FCFFFE ;
	text-align: center;
}

nav ul {
    display: block;
    padding-left: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a {
    color:#000000;
    font-size: 1.7em;
    padding: 0 1.3em;
    text-decoration: none;
}

nav a:hover {
    color: red;
    text-decoration: none;
}



header img {
	max-width: 100%;
	display: block;
	background-size: cover;
	width: 50%;
	height: auto;
	margin: auto;
	text-align: center;
	
}

li{
	color: white;
}

header nav a {
	color: red;
	text-decoration: none;
}

header h1 {
	font-size: 3em;
	background-color: white;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	color: black;
}

main {
	margin: 0 auto;
	max-width: 1000px;
}

article img{
	float: right;
	max-width: 50%; 
	max-height: 50%;
	text-align: right;
}

table{
	width: 80%;
}

p{
	color: white;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

h4 {
	color: white;
}

h5{
	color: white;
}

h6{
	color: white;
}

blackquote {
	color: white;
}

footer {
    clear: both;
    background-color: #000000;
    height: 150px;
}

footer nav ul {
    display: block;
    float: right;
}

footer nav ul li {
    display: inline-block;
    list-style: none;
    padding: 1em;
}

footer nav ul li a {
    color: #FCFFFE;
    text-decoration: none;
    font-size: 1.5em;
}
    
footer nav ul li a:hover {
    color: #FCFFFE;
    text-decoration: underline;
}

footer p {
    clear: right;
    float: right;
    color: #FCFFFE;
    font-weight: bold;
    text-align: center;
    margin: 2px;
    margin-right: 50px;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
	color: red;
}

#form {
		margin-top:2%;
		background-color: white;
		padding: 2%;
	}
	
	#form h2 {
		text-align: center;
	}

	fieldset, input, select, textarea {
		margin-bottom: 2%;
	}
	
	fieldset legend {
		font-weight: bold;
		font-size:1.25em;
	}
	
	label{
		display:block;
		padding-top: 3%
	}
	
	form #submit {
		margin: 0 auto;
		border: none;
		display: block;
		padding: 2%;
		font-size: 1em;
		border-radius: 10px;
		background-color: lightskyblue;
	}
	
	
	